<h1>Our Little Calculator</h1>

<p>Our little calculator has an infinite number of resources available for you. The resources all live at URLs according to the following scheme:</p>

<ul>
  <li>The square of <%= @the_number %> lives at the URL <a href="/square/<%= @the_number %>">Square</a></li>
  <li>The square root of <%= @the_number %> lives at the URL <a href="/square_root/<%= @the_number %>">Square Root</a></li>
  <li>
    The size of a monthly loan payment, given an annual interest rate of <%= @interest_rate %>%, a total number of <%= @number_of_payments %> payments, and a principal amount of <%= @present_value %>, lives at the URL
    <pre>
      <a href="/payment/<%= @interest_rate %>/<%= @number_of_payments %>/<%= @present_value %>">Monthly Loan Payment</a>
    </pre>
  </li>
</ul>

Unfortunately, our calculator is not very smart yet and all of these numbers can only be integers. Sorry and thank you!

Your task: Make all of these URLs work.
